/* ==================== Reseting HTML ==================== */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100vw;
  overflow-x: hidden;
  color: #ffffff;
  background-color: #303030;
}

ul{
  display: flex;
  list-style: none;
}

.input{
  outline: none;
  border: none;
  background-color: red;
}

img{
  width: 100%;
  height: auto;
}

a{
  color: #ffffff;
  text-decoration: none;
}

/* ==================== Styling ==================== */

.page_container{
  width: min(1800px, 80%);
  margin-inline: auto;
  padding-top: 4em;
}