/* ========== Header ==========  */

.header{
  background-color: #eb1023 ;
}

.nav{
  width: min(1800px, 80%);
  margin-inline: auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 1rem;
  font-weight: 400;
}

.nav_list{
  gap: 1em;
}