/* ========== Post ==========  */
.post{
  background-color: #262626;
  color: #ffffff;
  width: 100%;
  min-height: 10rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.post_title{
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 400;
}